@model CatalogoFilmesTempo.Models.Weather.WeatherForecast

<div class="row p-3">
    @if (Model.Weather.Any())
    {
        var weatherInfo = Model.Weather.First();

        <div class="col-md-4 text-center">
            @* Acessando Model.Weather.First().Icon e .Description *@
            <img src="http://openweathermap.org/img/wn/@(weatherInfo.Icon)@("@2x.png")" alt="@weatherInfo.Description" />
            <p class="mt-2 text-capitalize">@weatherInfo.Description</p>
        </div>

        <div class="col-md-8">
            <h4 class="mb-3">Condições em @Model.CityName</h4>
            <dl class="row">
                <dt class="col-sm-6">Temperatura (C):</dt>
                @* Acessando Model.Main.Temperature *@
                <dd class="col-sm-6">@(Model.Main.Temperature.ToString("F1")) &deg;C</dd>

                <dt class="col-sm-6">Sensação Térmica (C):</dt>
                @* Acessando Model.Main.FeelsLike *@
                <dd class="col-sm-6">@(Model.Main.FeelsLike.ToString("F1")) &deg;C</dd>

                <dt class="col-sm-6">Umidade:</dt>
                @* Acessando Model.Main.Humidity *@
                <dd class="col-sm-6">@Model.Main.Humidity %</dd>

                @* Wind Speed não existe no MainData, removido para evitar erro CS1061. Se precisar, adicione WindData ao modelo. *@
                @* <dt class="col-sm-6">Vento:</dt>
                <dd class="col-sm-6">@(Model.Wind.Speed.ToString("F1")) m/s</dd> *@
            </dl>
        </div>
    }
    else
    {
        <div class="col-12 alert alert-warning">
            Dados de clima para @Model.CityName não disponíveis.
        </div>
    }
</div>